name: Gamle pull requests
on:
  workflow_dispatch:
  schedule:
    - cron: '15 10 * * 2,5'
env:
  NPM_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
jobs:
  gamle-pull-requests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: 0.8.1
      - run: bun install --frozen-lockfile --production
      - run: bun run scripts/ancient-prs.ts
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          READER_TOKEN: ${{ secrets.READER_TOKEN }}
